html, body {
  margin: 0;
  padding: 0;
}

form {
  line-height: 1.5;
  height: 1.5em;
  padding: 0;
  width: 20em;
}

input {
  box-sizing: border-box;
  padding: 1em 1em;
  width: 100%;
}

body.loading {
  background-image: url(loading.gif);
  background-size: 60px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
body.loading form {
  visibility: hidden;
}
