html, body {
  margin: 0;
  padding: 0;
}

input {
  box-sizing: border-box;
  padding: 1em 1em;
  width: 100%;
}

#password-options {
  line-height: 1.5;
  list-style: none;
  margin: 1em 0;
  max-height: 40em;
  overflow: hidden;
  padding: 0 1em;
  width: 20em;
}
